.main__wrapper {
  display: flex;
}
@media screen and (max-width: 768px) {
  .main__wrapper {
    flex-direction: column;
    padding: 25px;
  }
}

.section {
  align-self: end;
}
.main__content {
  flex-grow: 1;
  padding-left: 34px;
  padding-top: 19px;
  padding-right: 62px;
}
.main__text {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .main__content {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
