
.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 26px;
}
.button {
  padding: 5px 15px;
  width: 86px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #4B51EF;
  border: none;
  border-radius: 6px;
}
.button:active {
  transform: scale(1.1);
}
.btn__city {
  margin-bottom: 10px;
}
.btn__company {
  width: 105px;
  height: 24px;
}
.button-send {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.btn-submit {
  width: 85px;
  height: 24px;
  border-radius: 5px;
  padding: 5px 6px 5px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #FFFFFF;
  background: #52CF4F;
}
.disabled {
  background: #AFAFAF;
  cursor: no-drop;
  color: #FFFFFF;
}