.sort__buttons {
  display: flex;
  flex-direction: column;
}
.sort {
  padding-top: 35px;
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: #BDBDBD;
}
.sort-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #000000;
}